# Local settings for myspace project.

from myspace.settings import *

DEBUG = True
DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('MySpace DEV', 'info@titan2x.com'),
)

MANAGERS = ADMINS

# Make this unique, and don't share it with anybody.
SECRET_KEY = '__regenerate_this__'

ALLOWED_HOSTS = ['www.example.com']
