{% extends "base.html" %}

{% load markup %}

{% block subtitle %}{{ name }}{% endblock %}

{% block main %}

<ul class="breadcrumb">
    <li><a href="{% url 'home' %}" title="Home">Home</a></li>
    {% for loc in breadcrumbs %}
    <span class="divider">/</span>
    <li><a href="{{ loc.href|urlencode }}" title="{{ loc.name }}">{{ loc.name|capfirst }}</a></li>
    {% endfor %}
</ul>

<div class="row">
    <div class="span6">
        <h2>{{ name }}</h2>

        {% if error %}
        <div class="alert alert-error">
            <strong>Error:</strong>
            {{ error }}
        </div>
        {% endif %}

        {% if message %}
        <div>{{ message | markdown }}</div>
        {% endif %}

        {% if dirs %}
            <ul class="folders">
                {% for folder in dirs %}
                <li><i class="icon-folder-close"></i><a href="{{ folder.href }}" title="{{ folder.name }}">{{ folder.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if files %}
            <table class="table table-striped table-hover table-condensed folder files">
                {% for file in files %}
                <tr>
                    <td><a href="{{ file.href|urlencode }}" title="{{ file.name }}">{{ file.name }}</a></td>
                    <td class="size">{{ file.size|filesizeformat }}</td>
                    <td class="timestamp">{{ file.mtime }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>
</div>

{% endblock %}
