{% extends "base.html" %}

{% block subtitle %}{{ name }}{% endblock %}

{% block main %}

<ul class="breadcrumb">
    <li><a href="{% url 'home' %}" title="Home">Home</a></li>
    {% for loc in breadcrumbs %}
    <span class="divider">/</span>
    <li><a href="{{ loc.href|urlencode }}" title="{{ loc.name }}">{{ loc.name|capfirst }}</a></li>
    {% endfor %}
</ul>

<div class="row">
    <div class="span6">
        <h2>{{ name }}</h2>

        {% if error %}
        <div class="alert alert-error">
            <strong>Error:</strong>
            {{ error }}
        </div>
        {% endif %}

        {% if dirs %}
            <ul class="folders">
                {% for folder in dirs %}
                <li><i class="icon-folder-close"></i><a href="{{ folder.href }}" title="{{ folder.name }}">{{ folder.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if files %}
            <ul class="folder files">
                {% for file in files %}
                <li><a href="{{ file.href|urlencode }}" title="{{ file.name }}">{{ file.name }}</a> ({{ file.size|filesizeformat }})</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>

{% endblock %}
