{% extends "base.html" %}

{% block subtitle %}{{ foldername|capfirst }}{% endblock %}

{% block main %}

{% if locations %}
<ul class="breadcrumb">
    {% for loc in locations %}
    <li><a href="{{ loc.href|urlencode }}" title="{{ loc.name }}">{{ loc.name|capfirst }}</a> {% if not loc.last %}<span class="divider">/</span>{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% block custom-message %}{% endblock %}

<div class="row">
    <div class="span4 {% if files %}folder{% endif %}">
        <h2>{{ foldername|capfirst }}</h2>

        {% if folders %}
            <ul class="folders">
                {% for folder in folders %}
                <li><i class="icon-folder-close"></i><a href="{{ folder.href }}" title="{{ folder.name }}">{{ folder.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if files %}
            <ul class="folder files">
                {% for file in files %}
                <li><a href="{{ file.href|urlencode }}" title="{{ file.name }}">{{ file.name }}</a> ({{ file.size|filesizeformat }})</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

    <div id="recent-folders" class="span4 gone">
        <h2>Recent folders</h2>
        <ul class="list">
        </ul>
    </div>
</div>

{% endblock %}
